{% extends 'base.html' %} {% block content %}

<section>
	<h3>Upload CVS file</h3>
	{% if messages %} {% for message in messages %}
	<div>
		<strong>{{message|safe}}</strong>
	</div>
	{% endfor %} {% else %}
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div>
			<label for="file" class="input-upload">Please choose a file</label>
			<input type="file" id="file" class="input-file" name="file" />
		</div>
		<button type="submit">Upload</button>
	</form>
	{% endif %} {% endblock %}
</section>
