{% extends 'base.html' %} {% block content %}

<section>
	<h3>Property list</h3>

	<div class="filter">
		<form method="GET">
			<div>{{ filter.form.as_p }}</div>
			<button type="submit">Search</button>
		</form>
	</div>

	<div>
		<table>
			<thead>
				<tr>
					<th>Property name</th>
					<th>City</th>
					<th>Tenants</th>
					<th>Leas type</th>
					<th>Unit Sqft</th>
				</tr>
			</thead>
			<tbody>
				{% for property in property_list %}
				<tr>
					<td>{{property.property_name}}</td>
					<td>{{property.city}}</td>
					<td>{{property.tenant_name}}</td>
					<td>{{property.lease_type}}</td>
					<td>{{property.unit_sqft}}</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>
</section>
{% endblock %}
